<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="rsvpreader.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* Change this line *@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    @* And change this line *@
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

<script>
    window.speakWord = (word, wpm) => {
        // Stop any current speech so it doesn't overlap or lag
        window.speechSynthesis.cancel();

        const utterance = new SpeechSynthesisUtterance(word);
        
        // Map WPM to Speech Rate (approx 200 WPM is 1.0 rate)
        utterance.rate = wpm / 200; 
        
        window.speechSynthesis.speak(utterance);
    };
</script>

</html>